header, footer, .copyright-footer{
    .container{
        max-width:1600px;
        padding:0 0.8rem;
        width:95%;
    }
}


.banner{
    margin:0px auto;
    .heroslider { 
        .swiper-wrapper{
            .swiper-slide{ 
                .img-wrap{
                    height:100%;
                    width: 100%;
                    object-fit: cover;
                    img{
                        min-width:100%;
                    }
                }
             }
        }
        
    }
  
}

.instagram-sec{
    position: relative;
}