@font-face {
    font-family: 'kgicon';
    src:  url('../icons/kgicon.eot?ge3qas');
    src:  url('../icons/kgicon.eot?ge3qas#iefix') format('embedded-opentype'),
      url('../icons/kgicon.ttf?ge3qas') format('truetype'),
      url('../icons/kgicon.woff?ge3qas') format('woff'),
      url('../icons/kgicon.svg?ge3qas#kgicon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'kgicon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-announce:before {
    content: "\e900";
  }
  .icon-attachment:before {
    content: "\e901";
  }
  .icon-best-seller:before {
    content: "\e902";
  }
  .icon-calender:before {
    content: "\e903";
  }
  .icon-cancel:before {
    content: "\e904";
  }
  .icon-card-pay:before {
    content: "\e905";
  }
  .icon-cart:before {
    content: "\e906";
  }
  .icon-chat:before {
    content: "\e907";
  }
  .icon-check:before {
    content: "\e908";
  }
  .icon-clock:before {
    content: "\e909";
  }
  .icon-comment:before {
    content: "\e90a";
  }
  .icon-copy:before {
    content: "\e90b";
  }
  .icon-customer-care:before {
    content: "\e90c";
  }
  .icon-discount:before {
    content: "\e90d";
  }
  .icon-down-arrow:before {
    content: "\e90e";
  }
  .icon-envelop:before {
    content: "\e90f";
  }
  .icon-express-shipping:before {
    content: "\e910";
  }
  .icon-eys:before {
    content: "\e911";
  }
  .icon-favourite:before {
    content: "\e912";
  }
  .icon-filter:before {
    content: "\e913";
  }
  .icon-gift:before {
    content: "\e914";
  }
  .icon-global:before {
    content: "\e915";
  }
  .icon-home:before {
    content: "\e916";
  }
  .icon-info:before {
    content: "\e917";
  }
  .icon-left-arrow:before {
    content: "\e918";
  }
  .icon-left-arrow-lg:before {
    content: "\e919";
  }
  .icon-linking:before {
    content: "\e91a";
  }
  .icon-location:before {
    content: "\e91b";
  }
  .icon-lock:before {
    content: "\e91c";
  }
  .icon-mail:before {
    content: "\e91d";
  }
  .icon-mobile:before {
    content: "\e91e";
  }
  .icon-navs:before {
    content: "\e91f";
  }
  .icon-payment:before {
    content: "\e920";
  }
  .icon-question:before {
    content: "\e921";
  }
  .icon-return:before {
    content: "\e922";
  }
  .icon-right-arrow:before {
    content: "\e923";
  }
  .icon-right-arrow-lg:before {
    content: "\e924";
  }
  .icon-search:before {
    content: "\e925";
  }
  .icon-securepayment:before {
    content: "\e926";
  }
  .icon-settings:before {
    content: "\e927";
  }
  .icon-share:before {
    content: "\e928";
  }
  .icon-shipping:before {
    content: "\e929";
  }
  .icon-store:before {
    content: "\e92a";
  }
  .icon-tag:before {
    content: "\e92b";
  }
  .icon-trash:before {
    content: "\e92c";
  }
  .icon-up-arrow:before {
    content: "\e92d";
  }
  .icon-upload:before {
    content: "\e92e";
  }
  .icon-user:before {
    content: "\e92f";
  }
  .icon-users:before {
    content: "\e930";
  }
  .icon-verify:before {
    content: "\e931";
  }
  .icon-wallet:before {
    content: "\e932";
  }
  .icon-wide:before {
    content: "\e933";
  }
  