$primary: #e8a024;
$secondary: #151515;
$default: #9c9c9c;
$darkgray: #e0e0e0;
$gray: #f8f9fa;
$light: #ffffff;

$radius-full : 3rem;
$radius-normal : 0rem;

$shade386641: #386641;
$shade6a994e: #6a994e;
$shade4a4e69: #4a4e69;
$shadec9ada7: #c9ada7;
$shadeb5838d: #b5838d;
$shade5e548e: #5e548e;